<h1>Lab-movies-celebrities</h1>
<h3>Welcome to LAB of Andy, Juancho and Carlos</h3>



    <nav id="nav-index" class="navbar navbar-light bg-light">
      <form class="container-fluid justify-content-start">
        <a href="/movies/create"><button
            class="btn btn-outline-success me-2"
            type="button"
          >Go to New Movie</button></a>
        <a href="/movies"><button
            class="btn btn-outline-success me-2"
            type="button"
          >Go to Movies list</button></a>
        <a href="/celebrities/create"><button
            class="btn btn-outline-success me-2"
            type="button"
          >Go to New Celebrity</button></a>
      </form>
    </nav>