body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h2 {
  text-align: start;
  color: blue;
  padding-left: 110px;
}

.card-title {
  text-align: center;
}

.movie-edit {
  width: 25px;
  height: 100px;
}

form {
  height: 100;
}
